$green: #64ffda;
$Lightbalck: #161b22;
$VeryLightbalck: #21262d;
$black: #0d1117;
$color: #dcdde4;
$color-low: #a8b2d1;
$color-extreme-low: #989dac5d;
$aqua: cyan;
$green-tint: rgba(100, 255, 218, 0.1);
$font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
  system-ui, sans-serif;
$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
