$green: #64ffda;
$Lightbalck: #161b22;
$VeryLightbalck: #21262d;
$black: #0d1117;
$color: #dcdde4;
$color-low: #a8b2d1;
$color-extreme-low: #989dac5d;
$headerColor: #1d2126;
$green-tint: rgba(100, 255, 218, 0.1);
$font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
$font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

@media screen and (min-width: 1080px) {
  #spotlight {
    header {
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: $headerColor;
    }
    #main {
      .container {
        span {
          margin-top: 80px;
          font-size: 28px;
        }
        h1.Head {
          font-size: 64px;
        }
        h1.subHead {
          font-size: 54px;
        }
        a.button {
          padding: 13px 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 1080px) {
  #spotlight {
    header {
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: $headerColor;
    }
    #main {
      .container {
        span {
          font-size: 24px;
        }
        h1.Head {
          font-size: 56px;
        }
        h1.subHead {
          font-size: 54px;
        }
        a.button {
          padding: 13px 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  #spotlight {
    header {
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: $headerColor;
    }
    #main {
      .container {
        span {
          font-size: 20px;
        }
        h1.Head {
          font-size: 48px;
        }
        h1.subHead {
          font-size: 44px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #spotlight {
    header {
      font-size: 12px;
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: $headerColor;
      nav.left {
        width: 40px;
        height: 40px;
        &::before {
          font-size: 18px;
          top: 10px;
          left: 13px;
        }
        #logo {
          width: 30px;
        }
      }
    }
    #main {
      .container {
        h1.Head {
          font-size: 46px;
        }
        h1.subHead {
          font-size: 36px;
        }
        a.button {
          padding: 12px 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  #spotlight {
    header {
      width: 100%;
      font-size: 10px;
      position: fixed;
      z-index: 1;
      background-color: $headerColor;
    }
    .side-bar-left {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translate(-50%);
      writing-mode: vertical-lr;
      ul {
        position: relative;
        li {
          padding: 0 10px;
        }
        &::after {
          content: "";
          display: none;
        }
      }
    }
    .side-bar-right {
      display: none;
    }
    #main {
      justify-content: flex-start;
      .container {
        h1.Head {
          font-size: 42px;
        }
        h1.subHead {
          font-size: 28px;
        }
        a.button {
          padding: 12px 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #spotlight {
    .overlay {
      position: fixed;
      background-color: $headerColor;
      filter: blur(5px);
      backdrop-filter: blur(5px);
      z-index: 1;
      opacity: 0;
    }
    .overlay.open {
      opacity: 1;
      width: 100%;
      height: 100vh;
    }
    header {
      padding-top: 20px;
      position: fixed;
      width: 100%;
      background-color: $headerColor;
      z-index: 2;
      .humburger {
        position: absolute;
        top: 30px;
        right: 10%;
        cursor: pointer;
        z-index: 3;
        text-align: right;
        text-align: -webkit-right;
        .line {
          margin-top: 5px;
          height: 2px;
          background-color: $green;
          &:nth-child(1) {
            width: 30px;
          }
          &:nth-child(2) {
            width: 20px;
          }
          &:nth-child(3) {
            width: 10px;
          }
        }
      }
      .humburger.open {
        display: none;
      }

      nav.right {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        padding: 50px;
        flex-direction: column;
        justify-content: space-around;
        background-color: $black;
        opacity: 0;
        pointer-events: none;
        ul {
          flex-direction: column;
          li {
            font-size: 16px;
            span {
              display: block;
              margin-right: 5px;
            }
          }
        }
        a.nav-button {
          display: inline-block;
          text-align: center;
          margin: 0 auto;
          width: 100px;
        }
      }
      nav.right.open {
        opacity: 1;
        pointer-events: all;
        overflow: hidden;
      }
    }
    #main {
      max-width: 900px;
      margin-left: 0px;

      .container {
        span {
          font-size: 18px;
        }
      }
      .conatinerspotlight {
        margin-top: 100px;
      }
    }
  }
}
